// ========== CSS RESETS
*,
*::before,
*::after {
  box-sizing: border-box;
}

// ========== Remove Default Margins and Paddings
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

// ========== Set core root defaults

html {
  font-size: 100%;
}
html:focus-within {
  scroll-behavior: smooth;
}

// ========== Make images easier to work with
img,
picture {
  max-width: 100%;
  display: block;
}

// ========== Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
}

// ========== Remove all animations and transitions for people that prefer not to see them

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// ========== Set core body defaults
body {
  position: relative;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: $font-main;
  font-size: $font-sz;
}

a {
  text-decoration: none;
  color: $clr-white;
  font-weight: $weight-semi-bold;
}

p{
  line-height: rem(20);
  color: $clr-gray;
}

h1 {
  font-size: rem(40);
  font-weight: $weight-semi-bold;
  letter-spacing: -1.67px;
  color: $clr-black;
  margin-bottom: rem(22);
}

h2{
  font-size: rem(12);
  text-transform: uppercase;
  letter-spacing: 5px;
  
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.section-container {
  display: flex;

  &--top {
    flex: 60%;
  }

  &--bottom {
    flex: 40%;
  }
}

.section {
  // height:100%;

  &-1 {
    flex: 1.32;
    background: url(../../images/desktop-image-hero-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: rem(64) 0 0 rem(64);
  }

  &-2 {
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-self: center;

    .hero-text {
      padding: rem(60) rem(70) rem(40);
      align-self: center;
      justify-self: center;
      color: $clr-gray;


      a {
        margin-top: rem(22);

        display: flex;
        align-items: center;
        color: $clr-black;
        letter-spacing: 10px;
        text-transform: uppercase;
        gap: rem(43);

      }
    }

    .slider-button {
      justify-self: end;
      // align-self: end;
      display: flex;

      .btn {
        background-color: $clr-black;
        width: rem(80);
        height: rem(80);
        display: grid;
        place-content: center;

        &:hover {
          background-color: $clr-dark-gray;
        }
      }
    }
  }

  &-3 {
    flex: 1;
    background: url(../../images/image-about-dark.jpg);
    background-repeat: no-repeat;
  }

  &-4 {
    flex: 1.2;
    display: grid;
    place-content: center;
    padding: 0 rem(48);
    gap: rem(9)
  }

  &-5 {
    flex: 1;
    background: url(../../images/image-about-light.jpg);
    background-repeat: no-repeat;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: rem(56);
}

.nav {
  &__links {
    display: flex;
    gap: rem(32);

    a {
      position: relative;

      &:hover {
        &::after {
          content: "";
          position: absolute;
          width: rem(16);
          height: rem(2);
          background-color: $clr-white;
          top: rem(18);
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
