// ========== CSS RESETS
*,
*::before,
*::after {
  box-sizing: border-box;
}

// ========== Remove Default Margins and Paddings
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

// ========== Set core root defaults

html {
  font-size: 100%;
}
html:focus-within {
  scroll-behavior: smooth;
}

// ========== Make images easier to work with
img,
picture {
  max-width: 100%;
  display: block;
}

// ========== Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
}

// ========== Remove all animations and transitions for people that prefer not to see them

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// ========== Set core body defaults
body {
  position: relative;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: $font-main;
  font-size: $font-sz;
}



a {
  text-decoration: none;
  color: $clr-white;
  font-weight: $weight-semi-bold;
}

p{
  line-height: rem(20);
  color: $clr-gray;
}

h1 {
  font-size: rem(40);
  font-weight: $weight-semi-bold;
  letter-spacing: -1.67px;
  color: $clr-black;
  margin-bottom: rem(22);

  @include breakpoint-down(medium){
    font-size: rem(28);
  }
}

h2{
  font-size: rem(12);
  text-transform: uppercase;
  letter-spacing: 5px;

}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.section-container {
  display: flex;

  &--top {
    flex: 66.75%;
  }

  &--bottom {
    flex: 33.25%;
  }

  @include breakpoint-down(medium){
    flex-direction: column;

    &--top, &--bottom {
      flex:1;
    }
  
  }
}




//visibility
.hide-for-mobile{
  @include breakpoint-down(medium){
      display:none;
  }

}

.hide-for-desktop{
  @include breakpoint-up(large){
      display:none;
  }
  
}

.hidden{
  display:none;
}