
.section {

    &-1 {
      flex: 1.32 ;
      background: url(../../images/desktop-image-hero-1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  
      @include breakpoint-down(medium){
        background: url(../../images/mobile-image-hero-1.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        // flex: 2;
        min-height: 360px;
      }
  
    }
  
    &-2 {
      flex: 1;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
  
     
  
  
  
      .hero-text {
        padding: 0 rem(70);
        align-self: center;
        justify-self: center;
        color: $clr-gray;
  
  
        a {
          margin-top: rem(22);
  
          display: flex;
          align-items: center;
          color: $clr-black;
          letter-spacing: 10px;
          text-transform: uppercase;
          gap: rem(43);
  
        }
  
        @include breakpoint-down(medium){
          padding: rem(72) rem(32);
        }
      }
  
      .slider-button {
        position: absolute;
        bottom:0;
        left: 0;
        // justify-self: end;
        // align-self: end;
        display: flex;
  
        @include breakpoint-down(medium){
          top: rem(-80);
          right: 0;
          bottom: unset;
          left: unset;
        }
  
        .btn {
          background-color: $clr-black;
          width: rem(80);
          height: rem(80);
          display: grid;
          place-content: center;
  
          &:hover {
            background-color: $clr-dark-gray;
          }
        }
      }
    }
  
    &-3 {
      flex: 1;
      background: url(../../images/image-about-dark.jpg);
      background-repeat: no-repeat;
    }
  
    &-4 {
      flex: 1.2;
      display: grid;
      place-content: center;
      padding: 0 rem(48);
      gap: rem(9)
    }
  
    &-5 {
      flex: 1;
      background: url(../../images/image-about-light.jpg);
      background-repeat: no-repeat;
    }
  
    @include breakpoint-down(medium){
  
      &-3, &-5{
        background-size: 100%;
        min-height: 238px;
      }
      &-4{
        min-height: rem(308);
      }
    
    }
  }
  