*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

html {
  font-size: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  position: relative;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: "Spartan", sans-serif;
  font-size: 0.75rem;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

p {
  line-height: 1.25rem;
  color: #a1a1a1;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -1.67px;
  color: black;
  margin-bottom: 1.375rem;
}

@media (max-width: 1023px) {
  h1 {
    font-size: 1.75rem;
  }
}

h2 {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-container--top {
  -webkit-box-flex: 66.75%;
      -ms-flex: 66.75%;
          flex: 66.75%;
}

.section-container--bottom {
  -webkit-box-flex: 33.25%;
      -ms-flex: 33.25%;
          flex: 33.25%;
}

@media (max-width: 1023px) {
  .section-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-container--top, .section-container--bottom {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.section-1 {
  -webkit-box-flex: 1.32;
      -ms-flex: 1.32;
          flex: 1.32;
  background: url(../../images/desktop-image-hero-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1023px) {
  .section-1 {
    background: url(../../images/mobile-image-hero-1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    min-height: 360px;
  }
}

.section-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.section-2 .hero-text {
  padding: 0 4.375rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  color: #a1a1a1;
}

.section-2 .hero-text a {
  margin-top: 1.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  letter-spacing: 10px;
  text-transform: uppercase;
  gap: 2.6875rem;
}

@media (max-width: 1023px) {
  .section-2 .hero-text {
    padding: 4.5rem 2rem;
  }
}

.section-2 .slider-button {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1023px) {
  .section-2 .slider-button {
    top: -5rem;
    right: 0;
    bottom: unset;
    left: unset;
  }
}

.section-2 .slider-button .btn {
  background-color: black;
  width: 5rem;
  height: 5rem;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.section-2 .slider-button .btn:hover {
  background-color: #454545;
}

.section-3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url(../../images/image-about-dark.jpg);
  background-repeat: no-repeat;
}

.section-4 {
  -webkit-box-flex: 1.2;
      -ms-flex: 1.2;
          flex: 1.2;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 0 3rem;
  gap: 0.5625rem;
}

.section-5 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url(../../images/image-about-light.jpg);
  background-repeat: no-repeat;
}

@media (max-width: 1023px) {
  .section-3, .section-5 {
    background-size: 100%;
    min-height: 238px;
  }
  .section-4 {
    min-height: 19.25rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.5rem;
  padding: 4rem 0 0 4rem;
}

@media (max-width: 1023px) {
  .header {
    gap: 7.0625rem;
    padding: 3rem 0 0 1.5rem;
  }
}

.header__logo {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.nav__links a {
  position: relative;
}

.nav__links a:hover::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 0.125rem;
  background-color: white;
  top: 1.125rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 1023px) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hide-for-desktop {
    display: none;
  }
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */